.homeWrap{
  background-color: $fefd;
  overflow: hidden;
  @media screen and (max-width: 768px){
    p, h3, input, textarea, button {
      font-size: 0.8em;
    }
    h1 {
      font-size: 1em;
    }
    h2 {
      font-size: 0.9em;
    }

  }
}
