.iconWrapper {
  background: $secondary-background-color;
  color: $base-font-color;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.7rem;
  transition: $base-in-duration $base-in-timing;
  .reactIcon {
    padding:0;
    margin: 0;
  }
  &:hover {
    background: darken($secondary-background-color, 5%);
    cursor: pointer;
  }
  .rotateTo {
    transform: rotate(180deg);
    transition: ease-in 150ms;
  }
  .rotateBack {
    transform: rotate(0deg);
    transition: ease-out 150ms;
  }
}
.noBackground {
  background: $base-background-color;
  transition: $base-in-duration $base-in-timing;
}
.noPointer {
  &:hover{
    cursor: default;
    background: $secondary-background-color;
  }
}
