.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.grid {
  display: flex;
}
.grid .col {
  flex: 1;
}
.grid-thirds {
  display: flex;
  justify-content: space-between;
}
.grid-thirds .col {
  width: calc(100%/3 - 10px);
}
section {
  display: block;
}
.s100 {
  padding: 0;
}
.s66 {
  padding: calc(32%/3) calc(32%/2);
}


// MEDIA

@media (max-width: 768px) {
  .grid {
    display: block;
  }
  .s66 {
    padding: calc(32%/6) calc(32%/4);
  }
}

// Padding
$base-padding-x: 5rem;
$base-padding-y: 5rem;
$text-padding-x: 7rem;
$mobile-padding-x: 2rem;
$mobile-padding-y: 3rem;
// Widths
$base-width: 100%;
$blog-width: 768px;

.basePad {
  padding: $base-padding-y $base-padding-x;
  @media screen and (max-width: 768px) {
    padding: $mobile-padding-y $mobile-padding-x;
  }
}
.blogPost {
  width: $blog-width;
  @media screen and (max-width: 768px) {
    width: $base-width;
  }
}
