// Typography
$base-font-family: 'Open sans', sans-serif;
$heading-font-family: 'Raleway', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$gray2: #ebebeb;
$black:  #111;
$blue-asphalt: #1b374e;
$light-blue: #e9f5ea;
$bluegray: #6FA49C;
$beige: #FCE7B8;
$beige2: #FFE6C3;
$beige3: #FFF8DC;
$milkchocolate2: #7A4928;
$milkchocolate: #542300;
$fefd: #FDFEFD;
$dark-navy: #00152E;
$purple2: #2D1231;
$peach: #C48D78;
$pink: #FF858F;
$bley: #B0D2D8;
$greengrey: #444A34;
$purpish: #5C544E;
$mint: #9BAD8B;
$rtblue: #023a78;
$formheader: #607d8b;
$bluejacket: #222e48;
$brownchair: #39271c;
$postgrey: #e0e0e0;
// Font Colors
$action-color:  $olive;
$secondary-action-color: $beige;
$base-font-color: $bluejacket; /*$dark-gray;*/
$secondary-font-color: $fefd;

$navigation-color: $action-color;
$navigation-color-hover: darken($navigation-color, 15%);
$secondary-navigation-color: $base-font-color;
$secondary-navigation-color-hover: darken($secondary-navigation-color, 15%);

$h1: $fefd;

$post-color:        $navy;
$post-header-color: $navy;

$calendar-font-color: $secondary-font-color;

$footer-color: $secondary-font-color;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;



// Background Colors
$base-background-color: $fefd; /*#fff;*/
$secondary-background-color: $postgrey;
$navigation-background: $base-background-color;
$navigation-background-color-hover: darken($navigation-background, 1%);
$form-background-color: #eceff1;
$articles-background-color: $blue-asphalt;
$archive-background-color: $beige;

$calendar-background-color: $secondary-background-color;

$products-background-color: $archive-background-color;

$button-background-color: $action-color;
$button-background-color-hover: darken($action-color, 15%);

$footer-background-color: $secondary-background-color;

//BoxShadows
$base-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
$base-box-shadow-hover: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-in-duration: 300ms;
$base-in-timing: ease-out;
$base-out-duration: 200ms;
$base-out-timing: ease-in;
:export {
  baseDuration: $base-in-duration;
}
