---
layout: default
title: Om Druesang
date: ''
description: Duoen Mads Skeie og Thomas Heimstad presenterer det nyskapende konseptet "Druesang". Sammen &oslash;nsker de &aring; kombinere sine to lidenskaper i ett produkt.
---
<article class="about">
    
<div class="hero">
	<div class="hero-inner">
    <a href="/om/" class="hero-logo"><img src="/assets/img/logotrans.png" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>{{ page.title }}</h1>
			<p>{{ page.description }}</p>	
		</div>
	</div>
</div>

    {% include omoss.html  %}
    {% include ommads.html  %}
    {% include omthomas.html  %}
    
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
    
</article>