// Typography
$base-font-family: 'Open sans', sans-serif;
$heading-font-family: 'Raleway', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;
$blue-asphalt: #1b374e;
$light-blue: #e9f5ea;

// Font Colors
$base-font-color:   $dark-gray;
$centered-navigation-color: whitesmoke;

$post-color:        $navy;
$post-header-color: $navy;

$action-color:      whitesmoke;
$footer-color: whitesmoke;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #333;
$secondary-background-color: tint($base-border-color, 75%);
$centered-navigation-background: desaturate(darken($centered-navigation-color, 90%), 90%);

$post-background-color: white;
$post-header-background-color: desaturate(darken($centered-navigation-color, 1%), 10%);

$articles-background-color: $blue-asphalt;
$archive-background-color: $white;

$products-background-color: $archive-background-color;

$button-background-color: $olive;

$footer-background-color: desaturate(darken($footer-color, 95%), 90%);


// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
