.col12 {
  @include span-columns(12);
  @media screen and (max-width: 768px){
    @include span-columns(12 of 12);
  }
}
.col9 {
  @include span-columns(9.125);
  @include omega();

  @media screen and (max-width: 768px){
    @include span-columns(6 of 12);
    margin: 0;
  }
}
.col6 {
  @include span-columns(6.125);
  @include omega();

  @media screen and (max-width: 768px){
    @include span-columns(12 of 12);
    margin: 0;
  }
}
.col4 {
  @include span-columns(4.165);
  @include omega();

  @media screen and (max-width: 768px){
    @include span-columns(12 of 12);
  }
}
.col3 {
  @include span-columns(3.1875);
  @include omega;

  @media screen and (max-width: 768px){
    @include span-columns(6.125);
    @include omega;
  }
}
.col2 {
  @include span-columns(2);
  @media screen and (max-width: 768px) {
    @include span-columns(4);
    }
  }
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
