<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/assets/img/logotrans.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Innhold</h3></li>
      <li><a href="/produkter/">Produkter</a></li>
      <li><a href="/om/">Om oss</a></li>
      <li><a href="/kontakt/">Kontakt</a></li>
    </ul>
      <ul>
      <li><h3>Blog</h3></li>
      <li><a href="/arkivet/">Arkiv</a></li>
      </ul>
    <ul>
      <li><h3>F&oslash;lg oss</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    
  </div>

  <hr>

  <p>&copy; Copyright 2016 Thomas Heimstad &amp; Mads Skeie.<br/>Webmaster og design: <a href="http://www.thomasheimstad.com">Thomas Heimstad</a></p>
</footer>
