<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="/assets/img/orreforstrans.svg">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/produkter/">Produkter</a></li>
        <li class="nav-link"><a href="/arkivet/">Blogg</a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="/assets/img/orreforstrans.svg" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="/om/">Om oss</a></li>
        <li class="nav-link"><a href="/kontakt/">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>$(document).ready(function() {
  var menuToggle = $('#js-centered-navigation-mobile-menu').unbind();
  $('#js-centered-navigation-menu').removeClass("show");
  
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-centered-navigation-menu').slideToggle(function(){
      if($('#js-centered-navigation-menu').is(':hidden')) {
        $('#js-centered-navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>