<section class="latestpost">
    <div class="col-2">


<article class="type-system-slab">
  <h1>Starten</h1>
    <div>
        <p>Det hele begynte med en idé.</p>
        <p>Mads, nyutdannet sommelier og sanger, ringer Thomas en gang p&aring; ny&aring;ret 2016. "Hva om vi starter med et vinsmakingskurs litt utenom det vanlige? Du spiller gitar, jeg synger noen sanger, og samtidig holder foredrag om de forskjellige vinene."</p>
        <p>Thomas falt umiddelbart for idéen. Hadde det v&aelig;rt mulig &aring; spilt musikk som samsvarte med de forskjellige vinenes kvaliteter? P&aring; den m&aring;ten kunne vi underbygget vinens utrykk p&aring; lik linje med en sang som er komponert over et stykke poesi.</p>
        <p>Ettersom Mads er utdannet sanger ved Den Norske Musikkh&oslash;yskole i Oslo, gav resonnementet gjenklang. De fleste "lieder" i musikkhistorien er jo bygget nettopp p&aring; dette prinsippet: Musikken underbygger poesiens betydning og underlinjer.</p>
        <p>Vi gikk en lang tur i den bergenske fjellheimen. Idémyldring, visjoner, forslag til navn og fremgangsm&aring;te ble diskutert. Vintersoloppgangen fulgte oss p&aring; veien oppover i fjellene, og dannet et symbolsk bilde p&aring; det som viste seg &aring; v&aelig;re oppstarten p&aring; "Druesang".</p>
    </div>
</article>
    </div>
</section>