<div class="side-image thomas">
  <div class="images-wrapper"></div>
    <div class="side-image-content thomas">
      <h4>Thomas Heimstad</h4>
      <h1>Klassisk gitarist og formidler</h1>
      <p>Thomas har spilt gitar siden han fant sin fars gamle kassegitar i kjelleren som liten gutt. Etter syv &aring;r med studier i Bergen, Spania og Nederland, har han opparbeidet seg et stort repertoire, utviklet sin egenart, og funnet seg godt til rette p&aring; scenen.</p>
          <hr>
          <p>I det siste har han jobbet som formidler og vikarierende butikkansvarlig ved Edvard Grieg Museum - Troldhaugen. Her arbeider han kontinuerlig med &aring; videreutvikle formidlingskompetensen.</p>
            <hr>
        <p>For mer info og lytteeksempler p&aring; hva Thomas kan tilby, <a href="http://www.thomasheimstad.com">se her!</a></p>
  </div>
</div>
