<div class="productsinfo-wrapper">
<div class="productsinfo">
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-content">
      <h2 style="font-size: 48px">*</h2>
      <p>All musikk fremføres av Mads Skeie og Thomas Heimstad. Programmet varierer, og det er fullt mulig med spesialbestillinger. Vi stiller med glass og dekanteringsutstyr.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-content">
      <h2 style="font-size: 48px">*</h2>
      <p>Prisen for vin kommer i tillegg.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-content">
      <h2 style="font-size: 48px">*</h2>
      <p>En del av konseptet "Druesang" er &aring; dele opplevelsene p&aring; bloggen. P&aring; denne m&aring;ten kan andre f&aring; inspirasjon til sine arrangementer, og vi f&aring;r anledning til &aring; knytte enda tettere b&aring;nd til v&aring;re kunder. Bildene vi tar under vinsmakingen vil kunne bli lagt ut som en del av en blogpost. Gi oss derfor en beskjed om dette ikke er &oslash;nskelig. Dere er selvf&oslash;lgelig hjertelig velkommen til &aring; bidra med egne bilder fra v&aring;re m&oslash;ter og til &aring; delta i diskusjonene p&aring; bloggen.</p>
    </div>
      
  </li>
</ul>
</div>
</div>
