<div class="side-image">
  <div class="images-wrapper product2"></div>
    <div class="side-image-content">
      <h4>Midtveis</h4>
      <h1>Godt nede i flasken</h1>
      <p>Dette er produktet man velger n&aring;r man er kommet et lite stykke p&aring; vinreisen. N&aring;r man lett kan skille mellom merlot og cabernet sauvignon, samt har opparbeidet seg en preferanse p&aring; de ulike regionene og lokale druetypene i vestre Toscana, da er man klar for nye utfordringer. "Godt nede i flasken" introduserer avanserte, komplekse og spennende viner kombinert med vel s&aring; avansert, kompleks og spennende musikk. Sansene skal ikke bare nyte, de skal utfordres til nye h&oslash;yder!</p>
        <p><span style="vertical-align: super">*</span>Pris: 20'000,-</p>
  </div>
</div>
