<div class="productsinfo-wrapper">
<div class="productsinfo">
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="/assets/img/logotrans.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Kvalitet</h2>
      <p>Vin og musikk nytes best n&aring;r kvaliteten er h&oslash;y. Derfor bruker vi mye tid p&aring; forberedning f&oslash;r hver eneste vinsmaking. Musikken skal pares til vinen  p&aring; lik linje med en ost eller en hovedrett. Resultatet skal alltid v&aelig;re fra &oslash;verste hylle, b&aring;de p&aring; smak og presentasjon.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="/assets/img/logotrans.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Ekspertise</h2>
      <p>Vi tror at kunnskap dyrker smak. Av den grunn s&oslash;ker vi alltid etter &aring; forbedre oss. Vi har begge en bakgrunn som ut&oslash;vende kunstnere, og vet hva som skal til for &aring; utvikle ekspertise: Engasjement, tid, energi, humor og en forventning til å lykkes.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="/assets/img/logotrans.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Opplevelse</h2>
      <p>Det &aring; samles over et glass vin skal v&aelig;re en forn&oslash;yelig begivenhet. Vin og musikk skaper tettere b&aring;nd mellomg gamle venner, gode kollegaer og nye bekjente. Vi &oslash;nsker &aring; senke terskelen for &aring; ta del i en vinsmaking, og samtidig inspirere til &aring; l&aelig;re mer om vin.</p>
    </div>
      
  </li>
</ul>
</div>
</div>
