<div class="side-image productsinvert">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Begynnelsen</h4>
      <h1>Starten p&aring; vinreisen</h1>
      <p>Dette er produktet man velger for &aring; f&aring; en fantastisk start p&aring; reisen inn i vinens univers. Det er en givende reise &aring; begi seg ut p&aring;, og det er viktig &aring; starte med et godt fundament. Vinsmakingen inkluderer en underholdende introduksjon til kunsten &aring; smake vin, og danner grunnlaget for videre utvikling. I tillegg vil seansen akkompagneres av live musikk, og diverse musikalske innslag pares til de ulike vinenes smak og karakter!</p>
        <p><span style="vertical-align: super">*</span>Pris: 15'000,-</p>
  </div>
</div>