<div class="side-image productsinvert">
  <div class="images-wrapper product3"></div>
    <div class="side-image-content">
      <h4>Toppen</h4>
      <h1>Vinaliteten er fullkommen</h1>
      <p>Dette produktet introduserer et nytt ord: Vinalitet. For oss er vinalitet symbiosen mellom opplevelsen, vinen, sangen og musikken. "Vinaliteten er fullkommen" tar sikte p&aring; en fullkommen vinalitet, hvor kun det beste er godt nok. Musikken varer lenger og vinen smaker bedre. I tillegg til de vanlige musikalske innslagene, presenteres en konsert med inntil 45 minutters repertoire. Det loves meget h&oslash;y kunstnerisk standard, og de parede vinene vil l&oslash;ftes til uante dimensjoner. Vi kan garantere en kveld som sent vil glemmes!</p>
        <p><span style="vertical-align: super">*</span>Pris: 30'000,-</p>
  </div>
</div>
