.about
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden
    
    .mads
        background-image: url('/assets/img/sheep.jpg')
        
    .thomas
        background-image: url('/assets/img/aften.jpg')
    
    .hero
        width: 100%;
    
    .side-image-content
        a
            color: $olive;
            &:hover
                color: darken($olive, 15%)
            

            
.about-content
    margin: 55px 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    
