.about
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden
    
    article
        +outer-container
    
    .mads
        background-image: url('/assets/img/sheep.jpg')
        
    .thomas
        background-image: url('/assets/img/aften.jpg')
    
    .hero
        width: 100%
    
    .side-image-content
        a
            color: $olive
            &:hover
                color: darken($olive, 15%)
            

            
