.footer {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  background: $footer-background-color;
  .col6 {
    @include pad(2.5% 20% 2.5% 5%);
    @media screen and (max-width: 768px) {
      @include pad(12% 5% 5%);
    }
    .footer-logo {
      width: 50%;
      margin-bottom: 2rem;
      @media screen and (max-width: 768px) {
        width: 100%;
        }
      }
    }
  .col2 {
    @include pad(5%);
    p {
      margin: 3px 0;
    }
  }
  a {
    &:hover,
    &:hover p{
      color: lighten($base-font-color, 20);
    }
  }
}
