.calendar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 4rem 0;
  @include pad(5% 15%);
  @media screen and (max-width: 768px) {
    @include pad(12% 5%);
  }
  > div {
    @include outer-container;
    @media screen and (max-width: 768px) {
    }
  }
  button {
    display: block;
    background: $action-color;
    transition: .225s ease-out;
    &:hover{
      background: darken($action-color, 5%);
    }
    &:active{
      background: darken($action-color, 15%);
      padding-left:1.4rem;
      padding-right: 1.4rem;
    }
  }
  .eventsContainer{
    ul {
      margin: 0;
      h2 {
        padding: 0;
        margin: 0;
        font-weight: 700;
      }
      &:last-child {
        padding-bottom: 5%;
      }
    }
    .timeContainer {

      font-weight: 100;
      .year {
      }
      .time {
        display: inline-flex;
      }
      .location a {
        color: $action-color;
        &:hover {
          color: lighten($action-color, 100%);
        }
      }
    }
    .textContainer {
      font-size: 14px;
      margin-bottom: 2rem;

    }
    .summary {
    }
  }
  .calendarEvent-enter {
    opacity: 0.01;
    max-height: 0;
  }

  .calendarEvent-enter.calendarEvent-enter-active {
    transition: max-height ease 0.5s, opacity 0.225s .112s ease;
    max-height: 100rem;
    opacity: 1;
  }

  .calendarEvent-leave {
    opacity: 1;
    max-height: 100rem;
  }

  .calendarEvent-leave.calendarEvent-leave-active {
    transition: max-height ease 0.225s, opacity 0.112s ease;
    opacity: 0.01;
    max-height: 0;
  }
}
