.charterFestSkjema {
  padding: 10% 5%;
  textarea {
    padding: 0.5em 0.5em 7em;
  }
}
#form {
  width: 100%;
  .hide {
    visibility: none;
    opacity: 0;
    transition: 0.5s ease-in;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in;
  }
  .response {
    padding: 0.75em 1.5em;
  }
  .loading {
    background-color: $orange;
  }
  .finished {
    background-color: $green;
  }
  .error {
    background-color: $red;
  }
  h3 {
    margin: 0;
    color: $secondary-font-color;
  }
  button {
    border-radius: 0;
    transition: 0.2s ease-in;
  }
  .rotate {
    animation: "Rotate 500ms infinite linear";
  }
  @keyframes Rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
}
