.homeQuotes {
  width: 100%;
  color: $secondary-font-color;
  padding: 0;
  @media screen and (max-width: 900px) {
    flex-flow: column;
  }
  #quoteBullets {
    width: 100%;
    flex: 1;
    background: $dark-navy;
    padding: $base-padding;
    @media screen and (max-width: 900px) {
    }
    h2 {
      width: 75%;;
      text-align: left;
    }
    p {
      width: 75%;
      color: $secondary-font-color;
    }
  }
  #quoteQuote {
    flex: 1;
    width: 100%;
    input, textarea, button, {
      margin: 0.3rem;
      background: $gray2;
      width: 75%;
    }
    .submit {
      width: 75%;
      div {
        margin: 0.3rem;
      }
    }
    button {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (max-width: 900px) {
      padding: $base-padding;
    }
  }
}
