.homeJoin {
  .behindJoin {
    height: 400px;
    width: 100%;
    background: url('/img/thomasheimstadhallbw.jpg');
    div {
      height: 100%;
      color: $secondary-font-color;
      background: rgba(#5c544e, 0.9);
      a {
        &:hover {
          color: $action-color;
        }
      }
    }
  }
}
