.homeTestimonials {
  padding: $base-padding;
  background: $gray2;
  .testimonial {
    text-align: center;
    background: $fefd;
    box-shadow: $base-box-shadow;
    @media screen and (max-width: 768px) {
      flex-flow: column;
    }
    p, h3 {
      padding: 0 1rem;
      @media screen and (max-width: 768px) {
        font-size: 0.6em;
      }
    }
    p {
      margin-bottom: 0;
    }
    > div:first-child  {
      width: 100%;
      flex: 2;
      padding-left: 2rem;
      padding-right: 2rem;
      @media screen and (max-width: 768px) {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
    > div:last-child  {
      width: 100%;
      flex: 1;
      background: $dark-navy;
      color: $secondary-font-color;
      @media screen and (max-width: 768px) {
        order: -1;
      }
      p, h3 {
        color: $secondary-font-color;
      }
      .headshot {
        margin-bottom: 1rem;
        border-radius: 100%;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: 768px) {
          height: 50px;
          width: 50px;
        }
      }
    }
    > div {
      padding: $base-padding;
    }
  }
}
