.homeHero {
  height: 50vh;
  background: url('/img/BergenBryggenCrop.jpg');
  background-size: cover;
  background-position: center;
  div {
    a {
    position: absolute;
    bottom: 0;
    z-index: 1;
    }
  }
  .overcast {
    height: 100%;
    width: 100%;
    background-color: #111;
  }
}
