.homeJoin {
  .behindJoin {
    width: 100%;
    > div {
      min-height: 150px;
      color: $base-font-color;
      opacity: 1;
      transition: 0.3s ease-in;
      h2 {
      }
      a {
        &:hover {
          color: $action-color;
        }
      }
      button {
        &:hover {
          background: $dark-navy;
        }
      }
    }
  }
}
.iFrameForm {
  display: flex;
  background: rgba($form-background-color, 1);
  div {width: 100%;}
}
.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
}
.show {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in;
}
