.galleryWrap{
  background: $base-background-color;
}
.imageGallery {
  width: 100%;
  .col6 {
    height: 345px;
  }
  .galleryImg {
    background-size: cover;
    background-position: center;
    filter: grayscale(0);
    transition: .2s ease-in;
    &:hover {
      filter: grayscale(100%);
    }
    .overcast {
      background: $black;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      transition: 0.2s ease-in;
      color: whitesmoke;
      p {
        color: $white;
        font-weight: 700;
        padding: 0 10%;
      }
      &:hover {
        opacity: 0.8;
      }
      div {
        height: 100%;
        width: 100%;
        top: -100%;
      }
    }
  }
}
.charterfest {
  .galleryImg {
    h3 {
      font-size: 30px;
    }
    &:first-child{
      filter: grayscale(0);
      &:hover {
        filter: grayscale(100%);
      }
      .overcast {
        background: rgba(0, 0, 0, 1);
        opacity: .5;
        &:hover {
          opacity: .8;
        }
      }
    }
    &:nth-child(2){
      background-color: $mint;
      &:hover {
        filter: grayscale(0);
        }
      .overcast {
        background: rgba(0, 0, 0, 1);
        opacity: .5;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
