---
layout: default
comments: true
---
<section class="post">
<article class="type-system-slab col-2">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.description }}</h2>
  <p class="date">{{ page.date | date: "%b %d, %Y"}}</p>
    <div>{{ content }}</div>
    <hr>
    <p class="author">{{ page.author }}</p>
    
    {% include facebookshare.html %}
    
    {% if page.comments %}
        {% include disqus.html %}
    {% endif %}

    
    {% if page.previous %}
    <a class="home-cta" id="prevpost"rel="prev" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    
    {% if page.next %}
    <a class="home-cta"id="nextpost"rel="next" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
    {% endif %}
    
</article>
    </section>

<script src="/assets/js/image-alt-link.js"></script>
<script src="/assets/js/lightboxactivate.js"></script>
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
      
