.categoryView {
  width: 100%;
  padding: $base-padding-y 0;
  background: $secondary-background-color;
  div {
    background: $base-background-color;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    transition: $base-in-duration $base-in-timing;
    &:hover {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
    }
    margin: 8px;
    a {
      img {
        height: 10rem;
        width: 15rem;
        margin: 8px;
        background-position: center;
        background-size: cover;
      }
      div:first-of-type {
      }
    }
    h3 {
      text-align: center;
      padding: 2rem;
      margin: 0;
    }
  }
}
