.selected {
  background: black;
}
.mainNavBar {
  h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: 100; }
  width: 100%;
  position: fixed;
  z-index: 3;
  font-weight: 100;
  background: $navigation-background;
  color: $navigation-color;
  height: 5rem;
  display: flex;
  align-items: center;
  a, h4 {
    transition: $base-in-duration $base-in-timing;
    &:hover {
      transition: $base-in-duration $base-in-timing;
      color: $navigation-color-hover;
    }
  }
  .mainNavBarHeader {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p, > div {
      width: 5rem;
    }
    > div {
      padding: 0.5rem;
      margin: 0;
      cursor: pointer;
      text-align: center;
      color: $navigation-color;
      font-size: 20px;
      line-height: 1;
      img{
        height: 3rem;
        margin: 0 auto;
        border-radius: 5%;
      }
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
}
.navigator {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    height: calc(5rem + 1px);
    text-align: center;
    p {
      cursor: pointer;
      transition: $base-in-duration $base-in-timing;
      &:hover {
        color: $navigation-color;
      }
    }
    p {
      padding: 1rem;
      margin: 0;
    }
  }
  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $navigation-background;
    overflow: hidden;
    // box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform, top;
    ul {
      flex-direction: column;
      padding: 0 0 1rem 0;
      text-align: center;
      margin: auto auto;
    }
    ul li {
      font-size: 13px;
      color: $secondary-navigation-color;
      font-weight: 400;
      margin: 1rem 0;
      svg {
        font-size: 20px;
        margin-bottom: 3px;
      }
      a {
        padding: 15px;
        display: block;
        border-left: 2px solid transparent;
        &:hover {
          color: $navigation-color;
        }
      }
    }
    .active {
      color: $action-color;
    }
  }
}
.transparent {
  transition: $base-out-timing $base-out-duration;
  background: rgba(0,0,0,0);
}
.untransparent {
  transition: $base-in-timing $base-in-duration;
  box-shadow: 0 0 10px grey;
}
.hidden {
  transform: translateY(-100%);
  top: -50%;
  transition: $base-out-timing $base-out-duration;
}
.showing {
  transform: translateY(0);
  top: 0;
  transition: $base-in-timing $base-in-duration;
}
.overlay {
  top: 0;
  position: fixed;
  transition: $base-in-timing $base-in-duration;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 99;
}
.overlayOut {
  top: 0;
  position: fixed;
  transition: 300ms ease-out;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 640px){
  .mainNavBar {
    div ul {
      justify-content: space-between;
    }
    div ul li a {
      padding: 1.5rem 0;
    }
    div ul li {
      width: 100%;
      font-size: .8rem;
      letter-spacing: 2px;
    }
  }
  .hidden {
  }
}
